{ns kbv-basis.KBV-PR-Base-Identifier-Reisepassnummer,
 import #{zen.fhir hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.30-13",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Identifier_Reisepassnummer",
         :require #{:value :type},
         :type zen/map,
         :keys {:type {:match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/v2-0203",
                                          :code "PPN"}}},
                       :type zen/map,
                       :keys {:coding {:type zen/vector,
                                       :every {:type zen/map,
                                               :keys {:display {:match "Passport number"}},
                                               :require #{:system
                                                          :code}},
                                       :minItems 1,
                                       :maxItems 1}},
                       :require #{:coding}}},
         :zen.fhir/type "Identifier"}}
