{ns kbv-basis.KBV-PR-Base-Provenance,
 import #{hl7-fhir-r4-core.Device
          zen.fhir
          kbv-basis.KBV-PR-Base-Provenance
          hl7-fhir-r4-core.RelatedPerson
          hl7-fhir-r4-core.Patient
          hl7-fhir-r4-core.PractitionerRole
          hl7-fhir-r4-core.Practitioner
          hl7-fhir-r4-core.Provenance
          hl7-fhir-r4-core.Organization},
 agent-schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
               :zen.fhir/version "0.6.30-12",
               :type zen/map,
               :keys {:who {:confirms #{zen.fhir/Reference},
                            :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Patient/schema
                                                           hl7-fhir-r4-core.PractitionerRole/schema
                                                           hl7-fhir-r4-core.Organization/schema
                                                           hl7-fhir-r4-core.Device/schema
                                                           hl7-fhir-r4-core.Practitioner/schema
                                                           hl7-fhir-r4-core.RelatedPerson/schema}}}}},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "Hier können Details dazu angegeben werden, wie eine Information entstanden ist, z.B. die Quelle der Information.",
         :zen.fhir/type "Provenance",
         :zen.fhir/profileUri "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Provenance",
         :zen.fhir/version "0.6.30-12",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-r4-core.Provenance/schema},
         :type zen/map,
         :keys {:target {:type zen/vector,
                         :every {:confirms #{zen.fhir/Reference},
                                 :zen.fhir/reference {:refers #{}}}},
                :occurred {:fhir/polymorphic true, :type zen/map},
                :agent {:type zen/vector,
                        :every {:confirms #{kbv-basis.KBV-PR-Base-Provenance/agent-schema}}},
                :entity {:type zen/vector,
                         :every {:type zen/map,
                                 :keys {:what {:confirms #{zen.fhir/Reference},
                                               :zen.fhir/reference {:refers #{}}},
                                        :agent {:type zen/vector,
                                                :every {:type zen/map,
                                                        :keys {:who {:confirms #{zen.fhir/Reference},
                                                                     :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Patient/schema
                                                                                                    hl7-fhir-r4-core.PractitionerRole/schema
                                                                                                    hl7-fhir-r4-core.Organization/schema
                                                                                                    hl7-fhir-r4-core.Device/schema
                                                                                                    hl7-fhir-r4-core.Practitioner/schema
                                                                                                    hl7-fhir-r4-core.RelatedPerson/schema}}}}}}}}}}}}
