{ns kbv-basis.KBV-PR-Base-Medication,
 import #{zen.fhir hl7-fhir-r4-core.Medication},
 schema {:zen.fhir/version "0.6.30-7",
         :confirms #{hl7-fhir-r4-core.Medication/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Medication",
         :require #{:code},
         :type zen/map,
         :zen/desc "Dieses Profil bildet Informationen zu einem Fertigarzneimittel oder einer Rezeptur ab.",
         :keys {:Kategorie {:fhir/extensionUri "https://fhir.kbv.de/StructureDefinition/KBV_EX_Base_Medication_Type|1.4.0",
                            :type zen/map,
                            :keys {:value {:fhir/polymorphic true,
                                           :type zen/map,
                                           :require #{:CodeableConcept}}},
                            :require #{:value}},
                :code {:type zen/map,
                       :keys {:coding {:type zen/vector,
                                       :slicing {:slices {"pzn" {:schema {:type zen/vector,
                                                                          :maxItems 1},
                                                                 :filter {:engine :match,
                                                                          :match {:system "http://fhir.de/CodeSystem/ifa/pzn"}}},
                                                          "snomed" {:schema {:type zen/vector,
                                                                             :every {:type zen/map,
                                                                                     :require #{:system
                                                                                                :code}}},
                                                                    :filter {:engine :match,
                                                                             :match {:system "http://snomed.info/sct"}}},
                                                          "atc" {:schema {:type zen/vector},
                                                                 :filter {:engine :match,
                                                                          :match {:system "http://fhir.de/CodeSystem/bfarm/atc"}}}}}}}},
                :form {:type zen/map,
                       :keys {:coding {:type zen/vector,
                                       :slicing {:slices {"snomed" {:schema {:type zen/vector,
                                                                             :every {:type zen/map,
                                                                                     :require #{:system
                                                                                                :code
                                                                                                :display
                                                                                                :version}}},
                                                                    :filter {:engine :match,
                                                                             :match {:system "http://snomed.info/sct"}}},
                                                          "edqm" {:schema {:type zen/vector,
                                                                           :every {:type zen/map,
                                                                                   :require #{:system
                                                                                              :code
                                                                                              :display}}},
                                                                  :filter {:engine :match,
                                                                           :match {:system "http://standardterms.edqm.eu"}}},
                                                          "kbvDarreichungsform" {:schema {:type zen/vector,
                                                                                          :every {:type zen/map,
                                                                                                  :require #{:system
                                                                                                             :code
                                                                                                             :display
                                                                                                             :version}}},
                                                                                 :filter {:engine :match,
                                                                                          :match {:system "https://fhir.kbv.de/CodeSystem/KBV_CS_SFHIR_KBV_DARREICHUNGSFORM"}}}}}}}},
                :ingredient {:type zen/vector,
                             :every {:type zen/map,
                                     :keys {:item {:fhir/polymorphic true,
                                                   :type zen/map,
                                                   :keys {:Reference {:type zen/map,
                                                                      :require #{:reference},
                                                                      :confirms #{zen.fhir/Reference},
                                                                      :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Medication/schema}}}}}}}}},
         :zen.fhir/type "Medication"}}
