{ns kbv-basis.KBV-PR-Base-Observation-Body-Temperature,
 import #{zen.fhir
          hl7-fhir-r4-core.Group
          hl7-fhir-r4-core.RelatedPerson
          hl7-fhir-r4-core.Patient
          hl7-fhir-r4-core.Practitioner
          hl7-fhir-r4-core.Organization},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "Dieses Profil beschreibt die Messung einer einzelnen Körpertemperatur.",
         :zen.fhir/type "Observation",
         :zen.fhir/profileUri "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Observation_Body_Temperature",
         :zen.fhir/version "0.6.30-10",
         :confirms #{zen.fhir/Resource},
         :type zen/map,
         :keys {:code {:type zen/map,
                       :keys {:coding {:type zen/vector,
                                       :slicing {:slices {"loinc" {:schema {:type zen/vector,
                                                                            :minItems 1,
                                                                            :maxItems 1,
                                                                            :every {:type zen/map,
                                                                                    :require #{:system
                                                                                               :code
                                                                                               :display
                                                                                               :version}}},
                                                                   :filter {:engine :match,
                                                                            :match {:system "http://loinc.org",
                                                                                    :version "2.73",
                                                                                    :code "8310-5",
                                                                                    :display "Body temperature"}}}}}}},
                       :require #{:coding}},
                :subject {:confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Patient/schema
                                                         hl7-fhir-r4-core.Group/schema}}},
                :value {:type zen/map,
                        :keys {:Quantity {:type zen/map,
                                          :keys {:unit {:match "°C"}}}}},
                :note {:type zen/map,
                       :keys {:author {:fhir/polymorphic true,
                                       :type zen/map,
                                       :keys {:Reference {:confirms #{zen.fhir/Reference},
                                                          :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Patient/schema
                                                                                         hl7-fhir-r4-core.Organization/schema
                                                                                         hl7-fhir-r4-core.Practitioner/schema
                                                                                         hl7-fhir-r4-core.RelatedPerson/schema}}}}}}}}}}
