{ns kbv-basis.KBV-PR-Base-DiagnosticReport,
 import #{hl7-fhir-r4-core.CareTeam
          hl7-fhir-r4-core.Device
          zen.fhir
          hl7-fhir-r4-core.Group
          hl7-fhir-r4-core.DiagnosticReport
          hl7-fhir-r4-core.Patient
          hl7-fhir-r4-core.PractitionerRole
          hl7-fhir-r4-core.Practitioner
          hl7-fhir-r4-core.Location
          hl7-fhir-r4-core.Organization},
 schema {:zen.fhir/version "0.6.32",
         :confirms #{hl7-fhir-r4-core.DiagnosticReport/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_DiagnosticReport",
         :require #{:effective},
         :type zen/map,
         :zen/desc "Dieses Profil bildet einen Befund / Bericht ab.",
         :keys {:result {:type zen/vector,
                         :every {:confirms #{zen.fhir/Reference},
                                 :zen.fhir/reference {:refers #{}}}},
                :effective {:fhir/polymorphic true, :type zen/map},
                :code {:type zen/map, :require #{:text}},
                :presentedForm {:type zen/vector,
                                :every {:type zen/map,
                                        :require #{:contentType :data}}},
                :subject {:confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Patient/schema
                                                         hl7-fhir-r4-core.Device/schema
                                                         hl7-fhir-r4-core.Location/schema
                                                         hl7-fhir-r4-core.Group/schema}}},
                :performer {:type zen/vector,
                            :every {:confirms #{zen.fhir/Reference},
                                    :zen.fhir/reference {:refers #{hl7-fhir-r4-core.CareTeam/schema
                                                                   hl7-fhir-r4-core.PractitionerRole/schema
                                                                   hl7-fhir-r4-core.Organization/schema
                                                                   hl7-fhir-r4-core.Practitioner/schema}}}}},
         :zen.fhir/type "DiagnosticReport"}}
