{ns kbv-basis.KBV-PR-Base-Datatype-Name,
 import #{zen.fhir},
 schema {:zen.fhir/version "0.6.30-7",
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Datatype_Name",
         :require #{:family :use},
         :type zen/map,
         :keys {:use {:match "official"},
                :text {:zen/desc "Vollständiger Name"},
                :prefix {:type zen/map,
                         :keys {:prefix-qualifier {:type zen/map,
                                                   :keys {:value {:fhir/polymorphic true,
                                                                  :type zen/map,
                                                                  :keys {:Code {:const {:value "AC"}}}}}}},
                         :require #{:prefix-qualifier}}},
         :zen.fhir/type "HumanName"}}
