{ns kbv-basis.KBV-PR-Base-Observation-Glucose-Concentration,
 import #{hl7-fhir-r4-core.Device
          hl7-fhir-r4-core.Observation
          zen.fhir
          hl7-fhir-r4-core.Group
          hl7-fhir-r4-core.RelatedPerson
          kbv-basis.KBV-PR-Base-Observation-Glucose-Concentration
          hl7-fhir-r4-core.Patient
          kbv-basis.value-set.KBV-VS-Base-Glucose-Concentration-Unit
          hl7-fhir-r4-core.Practitioner
          hl7-fhir-r4-core.Location
          hl7-fhir-r4-core.Organization},
 referenceRange-schema {:zen/tags #{zen/schema
                                    zen.fhir/structure-schema},
                        :zen.fhir/version "0.6.30-11",
                        :type zen/map,
                        :keys {:low {:type zen/map,
                                     :keys {:system {:const {:value "http://unitsofmeasure.org"}},
                                            :code {:zen.fhir/value-set {:symbol kbv-basis.value-set.KBV-VS-Base-Glucose-Concentration-Unit/value-set,
                                                                        :strength :required}}},
                                     :require #{:system
                                                :unit
                                                :value
                                                :code}},
                               :high {:type zen/map,
                                      :keys {:system {:const {:value "http://unitsofmeasure.org"}},
                                             :code {:zen.fhir/value-set {:symbol kbv-basis.value-set.KBV-VS-Base-Glucose-Concentration-Unit/value-set,
                                                                         :strength :required}}},
                                      :require #{:system
                                                 :unit
                                                 :value
                                                 :code}}}},
 schema {:zen.fhir/version "0.6.30-11",
         :confirms #{hl7-fhir-r4-core.Observation/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Observation_Glucose_Concentration",
         :require #{:category :effective :subject},
         :type zen/map,
         :zen/desc "Dieses Profil beschreibt die Messung eines einzelnen Glukosespiegels.",
         :keys {:category {:type zen/vector,
                           :slicing {:slices {"vs-cat" {:schema {:type zen/vector,
                                                                 :minItems 1,
                                                                 :maxItems 1},
                                                        :filter {:engine :match,
                                                                 :match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/observation-category",
                                                                                    :code "vital-signs"}}}}}}},
                           :minItems 1},
                :referenceRange {:type zen/vector,
                                 :every {:confirms #{kbv-basis.KBV-PR-Base-Observation-Glucose-Concentration/referenceRange-schema}},
                                 :maxItems 1},
                :interpretation {:type zen/vector,
                                 :every {:type zen/map,
                                         :keys {:coding {:type zen/vector,
                                                         :slicing {:slices {}},
                                                         :minItems 1,
                                                         :maxItems 1}},
                                         :require #{:coding}}},
                :method {:type zen/map,
                         :keys {:coding {:type zen/vector,
                                         :slicing {:slices {}},
                                         :minItems 1}},
                         :require #{:coding}},
                :value {:fhir/polymorphic true,
                        :type zen/map,
                        :keys {:Quantity {:type zen/map,
                                          :keys {:system {:match "http://unitsofmeasure.org"},
                                                 :code {:zen.fhir/value-set {:symbol kbv-basis.value-set.KBV-VS-Base-Glucose-Concentration-Unit/value-set,
                                                                             :strength :required}}},
                                          :require #{:system
                                                     :unit
                                                     :value
                                                     :code}}}},
                :component {:type zen/vector, :maxItems 0},
                :note {:type zen/vector,
                       :every {:type zen/map,
                               :keys {:author {:fhir/polymorphic true,
                                               :type zen/map,
                                               :keys {:Reference {:confirms #{zen.fhir/Reference},
                                                                  :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Patient/schema
                                                                                                 hl7-fhir-r4-core.Organization/schema
                                                                                                 hl7-fhir-r4-core.Practitioner/schema
                                                                                                 hl7-fhir-r4-core.RelatedPerson/schema}}}}}}}},
                :effective {:fhir/polymorphic true, :type zen/map},
                :code {:type zen/map,
                       :keys {:coding {:type zen/vector,
                                       :slicing {:slices {}},
                                       :minItems 2}},
                       :require #{:coding}},
                :focus {:type zen/vector,
                        :every {:confirms #{zen.fhir/Reference},
                                :zen.fhir/reference {:refers #{}}},
                        :maxItems 0},
                :subject {:confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Patient/schema
                                                         hl7-fhir-r4-core.Device/schema
                                                         hl7-fhir-r4-core.Location/schema
                                                         hl7-fhir-r4-core.Group/schema}}}},
         :zen.fhir/type "Observation"}}
