{ns kbv-basis.KBV-PR-Base-Organization,
 import #{zen.fhir
          kbv-basis.value-set.KBV-VS-Base-Deuev-Anlage-8
          hl7-fhir-r4-core.Organization},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "Dieses Profil bildet eine Einrichtung ab.",
         :zen.fhir/type "Organization",
         :zen.fhir/profileUri "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Organization",
         :zen.fhir/version "0.6.30-10",
         :confirms #{hl7-fhir-r4-core.Organization/schema
                     zen.fhir/Resource},
         :type zen/map,
         :keys {:ergaenzende_Angaben {:fhir/extensionUri "https://fhir.kbv.de/StructureDefinition/KBV_EX_Base_Additional_Comment|1.4.0"},
                :identifier {:type zen/vector, :slicing {:slices {}}},
                :type {:type zen/vector,
                       :every {:type zen/map,
                               :keys {:coding {:type zen/vector,
                                               :slicing {:slices {}}}}}},
                :name {:zen/desc "Name der Einrichtung"},
                :address {:type zen/vector, :slicing {:slices {}}},
                :contact {:type zen/vector,
                          :every {:type zen/map,
                                  :keys {:address {:type zen/map,
                                                   :keys {:country {:zen.fhir/value-set {:symbol kbv-basis.value-set.KBV-VS-Base-Deuev-Anlage-8/value-set,
                                                                                         :strength :extensible},
                                                                    :zen/desc "Staat"}}}}}}}}}
