{ns kbv-basis.KBV-PR-Base-Identifier-KVK,
 import #{zen.fhir hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.30-7",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Identifier_KVK",
         :require #{:system :value :type},
         :type zen/map,
         :keys {:type {:match {:coding #{{:system "https://fhir.kbv.de/CodeSystem/KBV_CS_Base_identifier_type",
                                          :code "kvk"}}},
                       :type zen/map,
                       :keys {:coding {:type zen/vector,
                                       :every {:type zen/map,
                                               :keys {:display {:match "Krankenversichertenkarte"}},
                                               :require #{:system
                                                          :code}},
                                       :minItems 1,
                                       :maxItems 1}},
                       :require #{:coding}},
                :system {:const {:value "http://fhir.de/sid/gkv/kvk-versichertennummer"}}},
         :zen.fhir/type "Identifier"}}
