{ns kbv-basis,
 import #{zen.fhir hl7-fhir-r4-core de-basisprofil-r4},
 extensions {:zen/tags #{zen.fhir/extensions},
             :schemas {"https://fhir.kbv.de/StructureDefinition/KBV_EX_Base_Goal_Medication_Target_Reference" #zen/quote kbv-basis.KBV-EX-Base-Goal-Medication-Target-Reference/schema,
                       "https://fhir.kbv.de/StructureDefinition/KBV_EX_Base_AllergyIntolerance_Abatement" #zen/quote kbv-basis.KBV-EX-Base-AllergyIntolerance-Abatement/schema,
                       "https://fhir.kbv.de/StructureDefinition/KBV_EX_Base_Treatment_Goal_End" #zen/quote kbv-basis.KBV-EX-Base-Treatment-Goal-End/schema,
                       "https://fhir.kbv.de/StructureDefinition/KBV_EX_Base_Additional_Comment" #zen/quote kbv-basis.KBV-EX-Base-Additional-Comment/schema,
                       "https://fhir.kbv.de/StructureDefinition/KBV_EX_Base_Stage_Life" #zen/quote kbv-basis.KBV-EX-Base-Stage-Life/schema,
                       "https://fhir.kbv.de/StructureDefinition/KBV_EX_Base_Medication_Type" #zen/quote kbv-basis.KBV-EX-Base-Medication-Type/schema,
                       "https://fhir.kbv.de/StructureDefinition/KBV_EX_Base_Responsible_Person_Organization" #zen/quote kbv-basis.KBV-EX-Base-Responsible-Person-Organization/schema}},
 ig {:zen/tags #{zen.fhir/ig},
     :profiles profiles,
     :extensions extensions,
     :structures structures,
     :value-sets value-sets},
 profiles {:zen/tags #{zen.fhir/profiles},
           :schemas {"CareTeam" {"https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_CareTeam" #zen/quote kbv-basis.KBV-PR-Base-CareTeam/schema},
                     "Procedure" {"https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Procedure" #zen/quote kbv-basis.KBV-PR-Base-Procedure/schema},
                     "Organization" {"https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Organization" #zen/quote kbv-basis.KBV-PR-Base-Organization/schema},
                     "DocumentReference" {"https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_DocumentReference" #zen/quote kbv-basis.KBV-PR-Base-DocumentReference/schema},
                     "Encounter" {"https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Encounter" #zen/quote kbv-basis.kbv-pr-base-encounter/schema},
                     "DiagnosticReport" {"https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_DiagnosticReport" #zen/quote kbv-basis.KBV-PR-Base-DiagnosticReport/schema},
                     "MedicationStatement" {"https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_MedicationStatement" #zen/quote kbv-basis.KBV-PR-Base-Medication-Statemen/schema},
                     "Patient" {"https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Patient" #zen/quote kbv-basis.KBV-PR-Base-Patient/schema},
                     "Medication" {"https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Medication" #zen/quote kbv-basis.KBV-PR-Base-Medication/schema},
                     "AllergyIntolerance" {"https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_AllergyIntolerance" #zen/quote kbv-basis.KBV-PR-Base-AllergyIntolerance/schema},
                     "PractitionerRole" {"https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_PractitionerRole" #zen/quote kbv-basis.KBV-PR-Base-PractitionerRole/schema},
                     "Practitioner" {"https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Practitioner" #zen/quote kbv-basis.KBV-PR-Base-Practitioner/schema},
                     "Goal" {"https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Treatment_Goal" #zen/quote kbv-basis.KBV-PR-Base-Treatment-Goal/schema},
                     "DeviceDefinition" {"https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_DeviceDefinition" #zen/quote kbv-basis.KBV-PR-Base-DeviceDefinition/schema},
                     "RelatedPerson" {"https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_RelatedPerson" #zen/quote kbv-basis.KBV-PR-Base-RelatedPerson/schema},
                     "Condition" {"https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Condition_Diagnosis" #zen/quote kbv-basis.KBV-PR-Base-Condition-Diagnosis/schema},
                     "Device" {"https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Device" #zen/quote kbv-basis.KBV-PR-Base-Device/schema},
                     "Provenance" {"https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Provenance" #zen/quote kbv-basis.KBV-PR-Base-Provenance/schema},
                     "Observation" {"https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Observation_Body_Weight" #zen/quote kbv-basis.KBV-PR-Base-Observation-Body-Weight/schema,
                                    "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Observation_Apgar_Score" #zen/quote kbv-basis.KBV-PR-Base-Observation-Apgar-Score/schema,
                                    "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Observation_Blood_Pressure" #zen/quote kbv-basis.KBV-PR-Base-Observation-Blood-Pressure/schema,
                                    "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Observation_Care_Level" #zen/quote kbv-basis.KBV-PR-Base-Observation-Care-Level/schema,
                                    "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Observation_Body_Height" #zen/quote kbv-basis.KBV-PR-Base-Observation-Body-Height/schema,
                                    "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Observation_Glucose_Concentration" #zen/quote kbv-basis.KBV-PR-Base-Observation-Glucose-Concentration/schema,
                                    "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Observation_Head_Circumference" #zen/quote kbv-basis.KBV-PR-Base-Observation-Head-Circumference/schema,
                                    "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Observation_Respiratory_Rate" #zen/quote kbv-basis.KBV-PR-Base-Observation-Respiratory-Rate/schema,
                                    "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Observation_Pregnancy_Status" #zen/quote kbv-basis.KBV-PR-Base-Observation-Pregnancy-Status/schema,
                                    "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Observation_Body_Temperature" #zen/quote kbv-basis.KBV-PR-Base-Observation-Body-Temperature/schema,
                                    "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Observation_Heart_Rate" #zen/quote kbv-basis.KBV-PR-Base-Observation-Heart-Rate/schema,
                                    "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Observation_Estimated_Date_of_Delivery" #zen/quote kbv-basis.KBV-PR-Base-Observation-Estimated-Date-of-Delivery/schema,
                                    "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Observation_Peripheral_Oxygen_Saturation" #zen/quote kbv-basis.KBV-PR-Base-Observation-Peripheral-Oxygen-Saturation/schema}}},
 structures {:zen/tags #{zen.fhir/structures},
             :schemas {"https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Identifier_Reisepassnummer" #zen/quote kbv-basis.KBV-PR-Base-Identifier-Reisepassnummer/schema,
                       "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Identifier_KVK" #zen/quote kbv-basis.KBV-PR-Base-Identifier-KVK/schema,
                       "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Datatype_Post_Office_Box" #zen/quote kbv-basis.KBV-PR-Base-Datatype-Post-Office-Box/schema,
                       "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Datatype_Street_Address" #zen/quote kbv-basis.KBV-PR-Base-Datatype-Street-Address/schema,
                       "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Datatype_Maiden_Name" #zen/quote kbv-basis.KBV-PR-Base-Datatype-Maiden-Name/schema,
                       "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Datatype_Name" #zen/quote kbv-basis.KBV-PR-Base-Datatype-Name/schema,
                       "https://fhir.kbv.de/StructureDefinition/KBV_PR_Base_Datatype_Contactpoint" #zen/quote kbv-basis.KBV-PR-Base-Datatype-Contactpoint/schema}},
 value-sets {:zen/tags #{zen.fhir/value-sets},
             :value-sets {"https://fhir.kbv.de/ValueSet/KBV_VS_Base_Estimated_Date_of_Delivery_Method_LOINC" #zen/quote kbv-basis.value-set.KBV-VS-Base-Estimated-Date-of-Delivery-Method-LOINC/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_CommonLanguages" #zen/quote kbv-basis.value-set.KBV-VS-Base-CommonLanguages/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Procedure_Categories_SNOMED_CT" #zen/quote kbv-basis.value-set.KBV-VS-Base-Procedure-Categories-SNOMED-CT/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Body_Height_SNOMED_CT" #zen/quote kbv-basis.value-set.KBV-VS-Base-Body-Height-SNOMED-CT/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Pregnancy_Status_LOINC" #zen/quote kbv-basis.value-set.KBV-VS-Base-Pregnancy-Status-LOINC/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Reaction_Allergy" #zen/quote kbv-basis.value-set.KBV-VS-Base-Reaction-Allergy/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Medicine_Doseform" #zen/quote kbv-basis.value-set.KBV-VS-Base-Medicine-Doseform/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Drug_Therapy_Status_Codes_SNOMED_CT" #zen/quote kbv-basis.value-set.KBV-VS-Base-Drug-Therapy-Status-Codes-SNOMED-CT/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Practitioner_IHEXDS_Qualifikationen_nicht_aerztlicher_Autoren" #zen/quote kbv-basis.value-set.KBV-VS-Base-Practitioner-IHEXDS-Qualifikationen-nicht-aerztliche/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Respiratory_Rate_SNOMED_CT" #zen/quote kbv-basis.value-set.KBV-VS-Base-Respiratory-Rate-SNOMED-CT/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Pregnancy_Status_SNOMED_CT" #zen/quote kbv-basis.value-set.KBV-VS-Base-Pregnancy-Status-SNOMED-CT/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Glucose_Concentration_Method_SNOMED_CT" #zen/quote kbv-basis.value-set.KBV-VS-Base-Glucose-Concentration-Method-SNOMED-CT/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Role_Care_Team" #zen/quote kbv-basis.value-set.KBV-VS-Base-Role-Care-Team/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Stage_Life" #zen/quote kbv-basis.value-set.KBV-VS-Base-Stage-Life/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Pregnancy_Status_Method_SNOMED_CT" #zen/quote kbv-basis.value-set.KBV-VS-Base-Pregnancy-Status-Method-SNOMED-CT/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Glucose_Concentration_Interpretation" #zen/quote kbv-basis.value-set.KBV-VS-Base-Glucose-Concentration-Interpretation/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Apgar_Score_Identifier_SNOMED_CT" #zen/quote kbv-basis.value-set.KBV-VS-Base-Apgar-Score-Identifier-SNOMED-CT/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Medication_Type" #zen/quote kbv-basis.value-set.KBV-VS-Base-Medication-Type/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Practitioner_Speciality" #zen/quote kbv-basis.value-set.KBV-VS-Base-Practitioner-Speciality/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Allergy_Substance_SNOMED_CT" #zen/quote kbv-basis.value-set.KBV-VS-Base-Allergy-Substance-SNOMED-CT/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Head_Circumference_BodySite_SNOMED_CT" #zen/quote kbv-basis.value-set.KBV-VS-Base-Head-Circumference-BodySite-SNOMED-CT/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Apgar_Score_Value" #zen/quote kbv-basis.value-set.KBV-VS-Base-Apgar-Score-Value/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Medicine_Route_Of_Administration" #zen/quote kbv-basis.value-set.KBV-VS-Base-Medicine-Route-Of-Administration/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Nursing_Professions" #zen/quote kbv-basis.value-set.KBV-VS-Base-Nursing-Professions/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Head_Circumference_SNOMED_CT" #zen/quote kbv-basis.value-set.KBV-VS-Base-Head-Circumference-SNOMED-CT/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Deuev_Anlage_8" #zen/quote kbv-basis.value-set.KBV-VS-Base-Deuev-Anlage-8/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Body_Temperature_SNOMED_CT" #zen/quote kbv-basis.value-set.KBV-VS-Base-Body-Temperature-SNOMED-CT/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Practitioner_IHEXDS_Facharzttitel_der_Aerztekammern" #zen/quote kbv-basis.value-set.KBV-VS-Base-Practitioner-IHEXDS-Facharzttitel-der-Aerztekammern/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Role_Care" #zen/quote kbv-basis.value-set.KBV-VS-Base-Role-Care/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Body_Weight_Method_SNOMED_CT" #zen/quote kbv-basis.value-set.KBV-VS-Base-Body-Weight-Method-SNOMED-CT/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Practitioner_IHEXDS_Qualifikatoren_zahnaerztlicher_Autoren" #zen/quote kbv-basis.value-set.KBV-VS-Base-Practitioner-IHEXDS-Qualifikatoren-zahnaerztlicher-A/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Heart_Rate_SNOMED_CT" #zen/quote kbv-basis.value-set.KBV-VS-Base-Heart-Rate-SNOMED-CT/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Practitioner_Speciality_SNOMED_CT" #zen/quote kbv-basis.value-set.KBV-VS-Base-Practitioner-Speciality-SNOMED-CT/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Route_of_Administration_SNOMED_CT" #zen/quote kbv-basis.value-set.KBV-VS-Base-Route-of-Administration-SNOMED-CT/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Procedure_SNOMED_CT" #zen/quote kbv-basis.value-set.KBV-VS-Base-Procedure-SNOMED-CT/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Diagnosis_SNOMED_CT" #zen/quote kbv-basis.value-set.KBV-VS-Base-Diagnosis-SNOMED-CT/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Glucose_Concentration_LOINC" #zen/quote kbv-basis.value-set.KBV-VS-Base-Glucose-Concentration-LOINC/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Device_SNOMED_CT" #zen/quote kbv-basis.value-set.KBV-VS-Base-Device-SNOMED-CT/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Apgar_Score_Identifier_LOINC" #zen/quote kbv-basis.value-set.KBV-VS-Base-Apgar-Score-Identifier-LOINC/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Glucose_Concentration_Unit" #zen/quote kbv-basis.value-set.KBV-VS-Base-Glucose-Concentration-Unit/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Glucose_Concentration_SNOMED_CT" #zen/quote kbv-basis.value-set.KBV-VS-Base-Glucose-Concentration-SNOMED-CT/value-set,
                          "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Body_Weight_SNOMED_CT" #zen/quote kbv-basis.value-set.KBV-VS-Base-Body-Weight-SNOMED-CT/value-set}}}
