{ns kbv-basis.value-set.KBV-VS-Base-Deuev-Anlage-8,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Dieses Valueset enthält die Codes zur Beschreibung von Land/Wohnsitzländercode.",
            :zen.fhir/version "0.6.30-7",
            :fhir/code-systems #{{:fhir/url "http://fhir.de/CodeSystem/deuev/anlage-8-laenderkennzeichen",
                                  :zen.fhir/content :bundled}},
            :uri "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Deuev_Anlage_8",
            :version "1.4.0",
            :ftr {:module "kbv-basis",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
