{ns kbv-basis.value-set.KBV-VS-Base-Estimated-Date-of-Delivery-Method-LOINC,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Dieses Valueset enthält die Codes zur Beschreibung von Geschätzter Entbindungstermin Methode LOINC®.",
            :zen.fhir/version "0.6.30-11",
            :fhir/code-systems #{{:fhir/url "http://loinc.org",
                                  :zen.fhir/content :bundled}},
            :uri "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Estimated_Date_of_Delivery_Method_LOINC",
            :version "1.4.0",
            :ftr {:module "kbv-basis",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
