{ns kbv-basis.value-set.KBV-VS-Base-Head-Circumference-SNOMED-CT,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Dieses Valueset enthält die Codes zur Beschreibung von Kopfumfang SNOMED CT®.",
            :zen.fhir/version "0.6.30-14",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :bundled}},
            :uri "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Head_Circumference_SNOMED_CT",
            :version "1.4.0",
            :ftr {:module "kbv-basis",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
