{ns kbv-basis.value-set.KBV-VS-Base-Practitioner-IHEXDS-Facharzttitel-der-Aerztekammern,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Dieses Valueset enthält die Codes zur Beschreibung von Facharzttitel der Ärztekammern.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "urn:oid:1.2.276.0.76.5.514",
                                  :zen.fhir/content :bundled}},
            :uri "https://fhir.kbv.de/ValueSet/KBV_VS_Base_Practitioner_IHEXDS_Facharzttitel_der_Aerztekammern",
            :version "1.4.0",
            :ftr {:module "kbv-basis",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
